/* css reset */
body{
    margin: 0;
    padding: 0;
}

h2{
    /* definir a cor do texto utilizando rgb(red, green, blue)
*/
    color:rgb(120,192,145);
}

div{

    background-color: #004d8e;
    
    a{
        color: #fff;
        /*altera a decoração do texto. none faz com q o texto n tenha nenhuma decoração*/
        text-decoration: none;
    }
    /*hover é o efeito para destacar o texto*/
    a:hover{
        color: #ff6500
        
    }
}