h1 {

    color: green;
    font-size: 56px;
}

h2 {
}
h3{
    font-size: 28px;
    
    
}body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white
    color: black;
}

h1 {
    color: green;
    text-align: center;
}

h2 {

    border-bottom: 15px solid rgb(244, 228, 7);
    padding-bottom: 5px;
    color: blue;
    font-size: 36px;
}

h3 {
    color: #2E8B57;
    margin-top: 30px;
    font-style: italic
      }

      p {
         text-align: justify;
         line-height: 1.6;
      }

      img {
         display: block;
         margin: 20px auto;
         max-width: 100%;
         border-radius: 10px;
      }

      .img-cataratas {
         width: 700px;
      }