body {
    font-family: Arial, sans-serif;
    background: #383838;
}

h1 {
    text-align: right;
    padding: 20px;
    background: rgb(213, 98, 4);
    color: rgb(0, 0, 0);
    margin: 0;
}

.item {
    display: inline-block;
    padding: 20px 30px;
    background: #222;
    color: rgb(206, 86, 16);
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.item:hover {
    background: #ef3f0e;
}

.car-item-Pfister {
    background: #d05209;
    padding: 15px;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    display: inline-block;

}

.car-model-Pfister{
    width: 100%;
    border-radius: 10px;
}
.h2{ background: #d05209;
    padding: 15px;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    display: inline-block;



}